<div class="hero">
  <br />
  <div class="frosty">
    <div class="frosty col-10 offset-1 text-center">
      <br />
    <h1>Learn blah blah blah</h1>
      <br />
    <h2>Who cares about writing this anymore i could just put 1111</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>